@model List<PropertyViewModel>
<section class="locations-1" id="locations">
    <div class="locations py-5">
        <div class="container py-lg-5 py-md-4 py-2">
            <div class="heading text-center mx-auto">
                <h6 class="title-subw3hny mb-1">İlanlarımız</h6>
                <h3 class="title-w3l mb-3">En Son İlanlar</h3>
            </div>
            <div class="row pt-md-5 pt-4">
                @foreach (var item in Model)
                {
                <div class="col-lg-4 col-md-6">
                    <div class="w3property-grid">
                        <a href="#property">
                            <div class="box16">
                                    <div class="rentext-listing-category"><span class="pro-left">@item.ProductType</span><span class="pro-right">@item.CategoryName</span></div>
                                <img class="img-fluid" src="@item.ImageURL" alt="">
                                <div class="box-content">
                                    <h3 class="title">@item.ProductPrice ₺</h3>
                                    <span class="post">@item.ProductAddress</span>
                                </div>
                            </div>
                        </a>
                        <div class="list-information space-between">
                            <ul class="product-features">
                                <li>
                                    <i class="fas fa-bed"></i>
                                    <span class="listable-value">
                                        <span class="prefix">
                                            Yatak Odası:
                                        </span>

                                        <span class="value">
                                            <span>@item.BedroomCount</span>
                                        </span>

                                        <span class="suffix">
                                        </span>
                                    </span>
                                </li>
                                <li>
                                    <i class="fas fa-shower"></i>
                                    <span class="listable-value">
                                        <span class="prefix">
                                            Banyo Sayısı:
                                        </span>

                                        <span class="value">
                                            <span></span>@item.BathCount
                                        </span>

                                        <span class="suffix">
                                        </span>
                                    </span>
                                </li>
                                <li>
                                    <i class="fas fa-vector-square"></i>
                                    <span class="listable-value">
                                        <span class="prefix">
                                        </span>

                                        <span class="value">
                                           @item.Square
                                        </span>

                                        <span class="suffix">
                                            m2
                                        </span>
                                    </span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
           }
            </div>
        </div>
    </div>
</section>